body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    border: 1px solid black;
    border-radius: 15px ;
    box-shadow: 1px 1px 1px 1px hsl(30, 38%, 92%);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.box1{
    width: 50%;
    height: 100px;
    display: block;
}
.img-first{
    height: 50vh;
}
.box2{
    width: 50%;
}
