@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 0%, 45%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif; 
    background-color: var(--stone-100);
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
}

main {
    width: 740px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 30px 0; 
}

figure {
    text-align: center;
    margin: 50px auto;
}

figure img {
    max-width: 85%;
    height: auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: left;
    margin: 0 8%;
}

header h1 {
    font-size: 2.4em;
    margin-bottom: 10px;
    margin-top: -30px;
    color: var(--stone-900);
}

header p {
    font-size: 15px;
    color: var(--stone-150);
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

section {
    margin: 30px 8%;
}

.prep-time{
    background-color: var(--rose-50);
    padding: 3px 20px;
    border-radius: 8px;
}

#prep-time{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--rose-800);
}

.prep-time-list{
    list-style-type: none;
}

.prep-time-list li {
    position: relative;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-150);
    font-weight: 500;
}

.prep-time-list li::before{
    content: '\2022';
    color: var(--rose-800);
    position: absolute;
    left: -30px;
    font-size: 25px;
    top: -6px;
}

strong{
    font-weight: 700;
    color: var(--stone-600);
}

#ingredients {
    color: var(--brown-800);
    font-size: 28px;
    font-weight: 400;
}

.ingredients-list{
    list-style-type: none;
    margin-top: -14px;
    line-height: 2.4em;
}

.ingredients-list li {
    position: relative;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-150);
    font-weight: 500;
}

.ingredients-list li::before{
    content: '\2022';
    color: var(--brown-800);
    position: absolute;
    left: -40px;
    font-size: 25px;
    top: 2px;
}

hr {
    width: 86%;
    border: 1px solid #E7E7E7;
    margin-top: 30px;
    margin-bottom: 35px;
}

.second-hr {
    margin-top: 35px;
    margin-bottom: -5px;
}

#instructions {
    color: var(--brown-800);
    font-size: 28px;
    font-weight: 400;
}

.instructions-steps {
    list-style-type: none;
    margin-top: -14px;
    counter-reset: list-counter;
}

.instructions-steps li {
    position: relative;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-150);
    font-weight: 500;
    counter-increment: list-counter;
    margin-bottom: 4px;
}

.instructions-steps li::before {
    content: counter(list-counter) ". ";
    color: hsl(14, 45%, 36%);
    position: absolute;
    left: -30px;
    top: 0;
    font-weight: 700;
}

#nutrition {
    color: var(--brown-800);
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}

.nutrition p {
    font-family: 'Outfit', sans-serif;
    color: var(--stone-150);
    font-weight: 500;
}

.nutrition-table {
    display: flex;
    flex-direction: column;
}

.nutrition-item {
    display: flex;
    align-items: center;
    margin-bottom: -8px;
    justify-content: space-around;
}

.nutrition-item:not(:last-child) {
    border-bottom: 2px solid #E7E7E7;
}

.nutrition-item p {
    font-family: 'Outfit', sans-serif;
    color: var(--stone-150);
    font-weight: 500;
    margin-left: 5%;
    flex: 1;
}

.nutrition-item span {
    font-weight: bold;
    color: var(--brown-800);
    font-family: 'Outfit', sans-serif;
    margin-right: 5%;
    flex: 1;
}

footer {
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 0.9em;
    margin: 0;
}

@media (max-width: 768px) {
   main{
    margin: 0;
    width: 100%;
   }
}